* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E3C8A0;
  font-family: sans-serif;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(5,5,5,0.8);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  width: 800px;
  margin: 0 auto;
  font-weight: bold;
}

.menu ul {
  display: inline;
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu .title {
  font-size: 28px;
  color: #aaa;
}

.button {
  width: 70px;
  height: 40px;
  background-color: #B58A4B;
  font-size: 20px;
  padding-top: 10px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #9E7A44;
}

.antField {
  margin: 100px auto;
  border: 1px solid #aaa;
  overflow: auto;
}

.square {
  float: left;
  border: 1px solid #aaa;
  width: 8px;
  height: 8px;
}

.antField .ant, .antField .filled.ant, .antField .ant.filled {
  background-color: red;
}

.antField .filled {
  background-color: #666;
}