* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E3C8A0;
}

.menu {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: rgba(5,5,5,0.5);
  text-align: center;
}

button {
  position: fixed;
  top: 20px;
  left: 40px;
}

.antField {
  margin: 100px auto;
  border: 1px solid #aaa;
  overflow: auto;
}

.square {
  float: left;
  border: 1px solid #aaa;
  width: 8px;
  height: 8px;
}

.antField .ant {
  background-color: green;
}

.antField .filled {
  background-color: #666;
}

/* This is needed when the square is black and has the ant */
.antField .filled.ant {
  background-color: green;
}
.antField .ant.filled {
  background-color: green;
}